In [8]:
import pandas as pd
df=pd.read_csv("attendence.csv")

In [9]:
df

         name                   timestamp
0      Sonali  2022-07-06 12:29:06.972018
1      Sonali  2022-07-06 12:29:06.977828
2      Sonali  2022-07-06 12:29:07.096106
3      Sonali  2022-07-06 12:29:07.099790
4      Sonali  2022-07-06 12:29:07.202596
...       ...                         ...
6314  sonali2  2022-07-22 15:08:18.373351
6315    rohit  2022-07-22 15:08:18.376805
6316  sonali2  2022-07-22 15:08:18.376907
6317    rohit  2022-07-22 15:08:18.692772
6318  sonali1  2022-07-22 15:08:18.692887

[6319 rows x 2 columns]

In [10]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [11]:
from datetime import datetime
starttime = '15:00:00'
starttime_object = datetime.strptime(starttime,'%H:%M:%S')
starttimestamp=starttime_object.time()

In [12]:
endtime = '16:00:00'
endtime_object = datetime.strptime(endtime,'%H:%M:%S')
endtimestamp=endtime_object.time()

In [13]:
#df['timestamp'] = pd.to_datetime(df['timestamp'])

In [14]:
data=df.loc[(df['timestamp'].dt.time>=starttimestamp)&(df['timestamp'].dt.time<endtimestamp)]
data

         name                  timestamp
6147    rohit 2022-07-22 15:08:00.541790
6148    rohit 2022-07-22 15:08:00.550300
6149    rohit 2022-07-22 15:08:00.784822
6150    rohit 2022-07-22 15:08:00.788522
6151    rohit 2022-07-22 15:08:01.014948
...       ...                        ...
6314  sonali2 2022-07-22 15:08:18.373351
6315    rohit 2022-07-22 15:08:18.376805
6316  sonali2 2022-07-22 15:08:18.376907
6317    rohit 2022-07-22 15:08:18.692772
6318  sonali1 2022-07-22 15:08:18.692887

[172 rows x 2 columns]

In [15]:
data.name.unique()

array(['rohit', 'sonali2', 'sonali1', 'sonali3'], dtype=object)

In [16]:
df1=pd.DataFrame()
df1['Present_names']=list(data.name.unique())
df1.to_csv('Present_names.csv',index=False)

In [17]:
import smtplib, ssl

port = 587  # For starttls
smtp_server = "smtp.gmail.com"

def sendmail(receiver_email,date):
    sender_email = "2GI18CS157@student.git.edu"
    password = ""
    message = f"""\
    Subject: Attendence Update

    Your Attendence has been Updated {date}."""

    context = ssl.create_default_context()
    with smtplib.SMTP(smtp_server, port) as server:
        server.ehlo()  # Can be omitted
        server.starttls(context=context)
        server.ehlo()  # Can be omitted
        server.login(sender_email, password)
        server.sendmail(sender_email, receiver_email, message)

# receiver_email="dragmosgaming@gmail.com"
# date="24-05-2021"
# sendmail(receiver_email,date)

In [18]:
email_list=pd.read_csv("email.csv")

In [19]:
email_list

     name                       email
0  danesh    daneshsgobbani@gmail.com
1    elon     dragmosgaming@gmail.com
2  Sonali  2GI18CS157@student.git.edu

In [17]:
for i in data.name.unique():
#     print(i)
    date="06-07-2022"
    receiver_email=email_list.loc[email_list.name==i]
    receiver_email=list(receiver_email.email)[0]
    sendmail(receiver_email,date)

SMTPAuthenticationError: (501, b'5.5.2 Cannot Decode response x20-20020a17090a8a9400b001ef87123615sm1882399pjn.37 - gsmtp')